.container {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}

.item {
    background-color: orange;
    border: 1px dashed black;
    text-align: center;
}

.first-row {
    background-color: aqua;
}

.last-column {
    background-color: salmon;
}